<?php
use Doctrine\DBAL\Driver\PDOPgSql\Driver as DbDriver;

return [
    'db' => [
        'adapters' => [
            'dummy' => [
                'database' => 'db',
                'driver' => 'PDO_PgSql',
                'hostname' => 'db',
                'username' => 'db',
                'password' => 'db',
                'port' => '5432',
            ],
        ],
    ],
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => DbDriver::class,
                'eventmanager' => 'orm_default',
                'params' => [
                    'host'     => 'db',
                    'port'     => '5432',
                    'user'     => 'db',
                    'password' => 'db',
                    'dbname'   => 'db',
                ]
            ],
        ],
    ],
];
